*{padding:0px;
    margin: 0px;
    box-sizing: border-box;}
body {width:auto;
  }

.barrasup{display: flex;
        justify-content:flex-end;
        text-decoration: none;
        background-color: black;
        border-color:rgba(14,214,64,1);
        border-style:ridge;
        border-left:none ;
        border-right:none ;
        border-top: none;  
        border-width: 1px;}

.inicio{background-color: black;
          color:rgba(14,214,64,1);
          border-style: inherit;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-size:13px ;
          text-decoration: none;
         }        
                    
.headerglobal {
  background-image:url("../imagenes/raveitHD.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
       height: 280px;
    }
aside{display:none;}

.footer{background-color: black;
      color: white;
    text-align: center;
    height: 65px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-color:rgba(14,214,64,1);
    border-style:ridge;
    border-left:none ;
    border-right:none ;
    border-bottom: none;  
    border-width: 1px;} 

.copyr{font-size: 10px;
    }
.formulario{width:100% ;
  height: 100vh;
  display : flex;
  justify-content:space-around ;
  background: rgb(14, 214, 64);
  background: linear-gradient(
    311deg,
    rgba(14, 214, 64, 1) 5%,
    rgba(5, 79, 24, 1) 32%,
    rgba(0, 0, 0, 1) 44%,
    rgba(0, 0, 0, 1) 68%,
    rgba(14, 214, 64, 1) 94%
  );} 

.form{display :flex;
  flex-direction: column;
  gap:5px;
  width: 80%;
}

form input{background-color: black;
  color:rgba(14, 214, 64, 1);
  border-color:rgba(14, 214, 64, 1);;
}
form input:focus{background-color:black;
}
form button{width: 88px;
  background-color: black;
  color: rgba(14, 214, 64, 1);
  border-style: solid;
  border-color: rgba(14, 214, 64, 1);
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}
.agregarevento{text-decoration: none;
border-style:double;
border-color: white;
color: white;}

@media (min-width:1260px ) {

.barrasup{height: 25px;}

.inicio{height:24px ;
  width:45px ;
  text-align: center;}


.headerglobal{
  background-image:url("../imagenes/raveitHD.png");
  height: 720px;}
aside{display: block;}

.copyr{font-size: 15px; }
  
.footer{height: 80px;}
                    

}
@media (min-width:1900px ) {

.barrasup{height: 40px;
  border-width: 2px;}

.inicio{height:38px ;
  width:85px ;
  font-size:25px ;}

.headerglobal{background-image:url("../imagenes/raveitFULLHD.png");
         height: 1090px;}
aside{display: block;}

.copyr{font-size: 25px; }
  
.footer{height: 120px;
  border-width: 2px;}    
}
                
                
            
                
      
                    
                
                   